.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav {
  overflow: hidden;
  height: 10vh;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
  height: auto;
}

.topnav .search-container {
  float: right;
  height: auto;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 30px;
  border: 1px solid grey;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ac53f3;
  color: white;
  font-size: 30px;
  border: 1px solid grey;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ac53f3;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .column {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .topnav{
      height: 30vh;
  }
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 35%;
  padding: 10px;
  height: 88vh; /* Should be removed. Only for demonstration */
}
.column2 {
  float: right;
  width: 65%;
  padding: 10px;
  height: 88vh; /* Should be removed. Only for demonstration */
  overflow-y: scroll;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #ac53f3;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
